{% extends "base.html" %}

{% block content %}
    <h1>Задачи:</h1>
    {% if current_user.is_authenticated %}
        {% for item in jobs %}
            <div class="col-md6 border rounded">
                <b>Описание:</b> {{item.job}} <br>
                <b>Объём работы (часы):</b> {{item.work_size}} <br>
                <b>Team leader:</b> {{item.team_leader}} <br>
                <b>Участники:</b> {{item.collaborators}} <br>
                <b>Закончена?</b>
                {% if item.is_finished == 1 %}
                    Да
                {% else %}
                    Нет
                {% endif %}

                {% if current_user == item.user or current_user.id == item.team_leader %}
                    <div>
                        <a href="/jobs/{{ item.id }}" class="btn btn-warning">
                            Изменить
                        </a>
                        <a href="/jobs_delete/{{ item.id }}" class="btn btn-danger">
                            Удалить
                        </a>
                    </div>
            {% endif %}
            </div> <br>
        {% endfor %}
        <a href="jobs" class="btn btn-secondary">Добавить работу</a>
    {% else %}
        <h3>Чтобы увидеть список работ, нужно залогиниться</h3>
    {% endif %}
{% endblock %}